
html {
    --vxg-s10: 0.5rem; 
}

.vxg-basic-form {
    display: flex;
}

.vxg-basic-form-row {}

.vxg-basic-form-vertical {
    flex-direction: column;
}

.vxg-basic-form-horizontal {}


.vxg-basic-field {
    display: flex;
}

.vxg-basic-field-vertical {
    flex-direction: column;
}

.vxg-basic-field-horizontal {}


.vxg-basic-field-line {}

.vxg-basic-field-choice {}

.vxg-basic-field-toggle {}




